RentCar_1_1/web/WEB-INF/wsit-webService.ServicioReservacion.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServicioReservacion" targetNamespace="http://webService/" xmlns:tns="http://webService/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="getTabla"/>
    <message name="getTablaResponse"/>
    <message name="carType"/>
    <message name="carTypeResponse"/>
    <portType name="ServicioReservacion">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="getTabla">
            <input message="tns:getTabla"/>
            <output message="tns:getTablaResponse"/>
        </operation>
        <operation name="carType">
            <input message="tns:carType"/>
            <output message="tns:carTypeResponse"/>
        </operation>
    </portType>
    <binding name="ServicioReservacionPortBinding" type="tns:ServicioReservacion">
        <operation name="hello">
            <input></input>
            <output></output>
        </operation>
        <operation name="getTabla">
            <input/>
            <output/>
        </operation>
        <operation name="carType">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="ServicioReservacion">
        <port name="ServicioReservacionPort" binding="tns:ServicioReservacionPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="ServicioReservacionPortBinding_getTabla_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="ServicioReservacionPortBinding_getTabla_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
